*.o
*.elf
*.map
*.d
*.bin
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/.generated_files
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/*.uvguix.*
Gemfile*
/peripheral_trp_uart/firmware/wbz451_peripheral_trp_uart_winc1500.X/build/
/peripheral_trp_uart/firmware/wbz451_peripheral_trp_uart_winc1500.X/dist/
/peripheral_trp_uart/firmware/wbz451_trp_uart_winc1500_azure7.X/dist/
/peripheral_trp_uart/firmware/wbz451_trp_uart_winc1500_azure7.X/build/
/peripheral_trp_uart/firmware/wbz451_trp_uart_azure8.X/dist/
/peripheral_trp_uart/firmware/wbz451_trp_uart_azure8.X/build/
/peripheral_trp_uart/firmware/wbz451_trust_wifi7.X/dist/
/peripheral_trp_uart/firmware/wbz451_trust_wifi7.X/build/
/peripheral_trp_uart/firmware/WBZ451_Trust_WiFi7.X/dist/
/peripheral_trp_uart/firmware/WBZ451_Trust_WiFi7.X/build/